<h6>Create todo</h6>
<form (ngSubmit)="onSubmit()" #todoForm = "ngForm">
    <div class="form-row">
        <div class="col-auto">
            <input type="text"
                   class="form-control"
                   placeholder="Description"
                   id="description"
                   [(ngModel)]="model.description"
                   name="description"
                   #description="ngModel">
        </div>
        <div class="col-auto">
            <input type="text"
                   class="form-control"
                   placeholder="Responsable"
                   id="responsable"
                   [(ngModel)]="model.responsible"
                   name="responsible"
                   #responsable="ngModel">
        </div>
        <div class="col-auto">
            <select name="priority" id="priority" class="form-control" [(ngModel)]="model.priority" #priority="ngModel">
                <option value="low">Low</option>
                <option value="medium">Medium</option>
                <option value="hight">Hight</option>
            </select>
        </div>
        <div class="col-auto">
            <button class="btn btn-primary" type="submit">Create</button>
        </div>
    </div>

</form>

<br>
<h6>Todos List:</h6>
<div class="" *ngIf="(todos | async)?.length!==0">
    <table class="table">
        <thead class="thead-inverse">
            <tr>
                <th >#</th>
                <th>Todo description</th>
                <th>Responsible</th>
                <th>Priority</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <tr *ngFor="let t of todos | async">
            <td><span (click)="toogleTodo(t.id)" [class.complited]="t.isCompleted">{{ t.id }}</span></td>
            <td><span (click)="toogleTodo(t.id)" [class.complited]="t.isCompleted">{{ t.description }}</span></td>
            <td><span (click)="toogleTodo(t.id)" [class.complited]="t.isCompleted">{{ t.responsible }}</span></td>
            <td>
                <span *ngIf="t.priority === 'low'" class="badge badge-success">Low</span>
                <span *ngIf="t.priority === 'medium'" class="badge badge-warning">Medium</span>
                <span *ngIf="t.priority === 'hight'" class="badge badge-danger">Hight</span>
            </td>
            <td>
                <button class="btn btn-primary" (click)="removeTodo(t.id)">Delete</button></td>
        </tr>
        </tbody>
    </table>
</div>